@charset "utf-8";

/* font */
@font-face {
  font-family: "CookieRun";
  src: url("../fonts/CookieRun_Regular.otf") format("opentype");
}

/* font */
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansKR-VariableFont_wght.ttf") format("opentype");
}

/* font */
@font-face {
  font-family: "NanumSquare";
  src: url("../fonts/NanumSquareR.otf") format("opentype");
}

/* font */
@font-face {
  font-family: "NanumSquareNeoLt";
  src: url("../fonts/NanumSquareNeo-aLt.ttf") format("opentype");
}

/* font */
@font-face {
  font-family: "NanumSquareNeoRg";
  src: url("../fonts/NanumSquareNeo-bRg.ttf") format("opentype");
}

/* font */
@font-face {
  font-family: "NanumSquareNeoBd";
  src: url("../fonts/NanumSquareNeo-cBd.ttf") format("opentype");
}

/* font */
@font-face {
  font-family: "NanumSquareNeoHv";
  src: url("../fonts/NanumSquareNeo-eHv.ttf") format("opentype");
}
