.menuBar {
  width: 100%;
  height: 140px;
  border-bottom: 2px solid #e9e9e9;

  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.menuBarInner {
  width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logoTitleContainer {
  display: flex;
  align-items: center;
}

.logoContainer {
  margin-right: 15px;
}

.siteTitle {
  margin: 0;
  font-size: 36px;
  font-family: "NanumSquareNeoBd";
}

.profileContainer {
  display: flex;
  align-items: center;
}

.logout-button {
  width: 200px;
  margin-left: 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
  background-color: black;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;

  font-size: 16px;
  font-weight: 700;
  font-family: "NanumSquareNeoRg";
}

.logout-button:hover {
  background-color: white;
  color: black;
}
