.menuBar {
  width: 100%;
  border-bottom: 2px solid #e9e9e9;
  background-color: #ffffff;
}

.menuBarInner {
  width: 1024px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logoTitleContainer {
  display: flex;
  align-items: center;
}

.logoContainer {
  margin-right: 15px;
}

.siteTitle {
  margin: 0;
  font-size: 36px;
  font-family: "NotoSans";
}

.profileContainer {
  /* 내 정보 아이콘 컨테이너의 스타일 */
  display: flex;
  align-items: center;
}
